<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% if title %} {{ title }} {% else %} AutoLoginSystem  {% endif %}</title>
        <meta name="viewport" content="width=device-width">
        {% block meta %}
        <meta name="description" content="">
        <meta name="csrf-token" content="{{ csrf_token() }}">
        {% endblock meta %}
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        {% block css %}
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        </style>
        <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
        {% endblock css %}
        {% block inline_css %}{% endblock inline_css %}
        <link rel="shortcut icon" href="{{ url_for('static',filename='img/ico/favicon.ico') }}" >
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/ico/apple-touch-icon-precomposed.png') }}" >
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/ico/apple-touch-icon-114x114-precomposed.png') }}" sizes="114x114" >
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/ico/apple-touch-icon-144x144-precomposed.png') }}" sizes="144x144" >
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/ico/apple-touch-icon-57x57-precomposed.png') }}" sizes="57x57" >
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/ico/apple-touch-icon-72x72-precomposed.png') }}" sizes="72x72" >
        <script src="{{ url_for('static', filename='js/vendor/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">AutoLogin</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a data-toggle="modal" href="#aboutModal">About</a></li>
                <li><a data-toggle="modal" href="#contactModal">Contact</a></li>
            </ul>
          {% if not g.email %}
          <form method="post" action="{{ url_for('login') }}" class="navbar-form navbar-right">
            <div class="form-group">
              <input name="email" type="email" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input name="password" type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
          {% else %}
            <ul class="nav navbar-nav right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ g.email }} <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Accounts</li>
                <li><a href="#">INBOX</a></li>
                <li><a href="#">INBOX</a></li>
              </ul>
            </li>
          </ul>
          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container" role="breadcrumb">
      {% block breadcrumb %}{% endblock breadcrumb %}
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="container">
        {% for m in messages %}
        <div class="alert alert-warning fade in">
          <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
          <strong>Message!</strong> {{ m }}
        </div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
    <div class="container">
      {% block content %}{% endblock content %}
      <hr>
      <footer>
        {% block footer %}
        <p>&copy; VanPIN 2014</p>
        {% endblock footer %}
      </footer>
    </div> <!-- /container -->
    {% block javascript %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/vendor/jquery-1.10.1.min.js') }}"><\/script>')</script>
    <script src="{{ url_for('static', filename='js/vendor/bootstrap.min.js') }}"></script>
    {% endblock javascript %}
    {% block inline_javascript %}{% endblock inline_javascript %}
    </body>
</html>
